.opening {
    min-height: calc(100vh - 282px);
    display: flex;
    flex-direction: column;
    align-self: center;
}

@media screen and (max-width: 890px) {
    .opening {
        min-height: calc(100vh - 210px);
    }
}

@media screen and (max-width: 620px) {
    .opening {
        min-height: calc(100vh - 170px);
    }
}