.opening {
    min-height: calc(100vh - 220px);
    display: flex;
    flex-direction: column;
    align-self: center;
}

@media screen and (max-width: 890px) {
    .opening {
        min-height: calc(100vh - 120px);
    }
}

@media screen and (max-width: 620px) {
    .opening {
        min-height: calc(100vh - 190px);
    }
}