.profile__avatar-section {
  position: relative;
  margin-right: 30px;
}

.profile__avatar-section:hover .profile__change-button {
  display: block;
}

@media screen and (max-width: 620px) {
  .profile__avatar-section {
    margin-right: 0;
  }
}
