.header__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    color: #fff;
    transition: opacity .4s ease-in-out;
}

.header__link:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 890px) {
    .header__link {
        padding-right: 30px;
    }
}

@media screen and (max-width: 620px) {
    .header__link {
        font-size: 14px;
    }
}