.header__email {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 24px 0 0;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 620px) {
    .header__email {
        margin: 12px 0 18px 0;
    }
}