@media screen and (max-width: 620px) {
    .header__button_close {
        width: 20px;
        height: 20px;
        order: 2;
        background-image: url('../../../../images/close-icon.svg');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        display: flex;
        align-self: flex-end;
    }
}

.header__button_close div {
    display: none;
}

