.opening__form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media screen and (max-width: 620px) {
    .opening__form {
        padding-top: 40px;
    }
}