.header {
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 890px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .header {
    min-height: 84px;
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}
